<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <form action="">
        <!--Grid row-->

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © plateforme d'enregistrement d'etudiant:
      <a class="text-dark" href="https://sigesonline.univ-dschang.org/auth/loginform">connexion Uds</a>
    </div>
    <!-- Copyright -->
  </footer>